{% extends "main.html" %}
{% block content %}
	<div class="row banner main">
			<center><div id="head1"><br>ADD MUSIC LANGUAGE</div></center>
	</div>
		<br>
		<form action="#" method = "post">
				<div class="form-group">
				<center>
				<input style="width: 380px; height: 40px; border-radius: 5px; color: #000; font-size: 30px;" type ="text" maxlength="100" name="name" minlength="3" required="text">
				<br><br>
				<button id="b2">Add</button>
				<a href="{{url_for('shownewMusic')}}"><input type="button" id="b2" value="Cancel"></input></a>
				</div>
				</center>
			</form>
{% endblock %}